﻿html body {
	font-family: Arial, Calibri, Tahoma;
	padding: 0;
	margin: 0;
	font-size: 12px;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
	background-color: #FFFFFF;
}
a, a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 20px;
	font-weight: bold;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #EAF2DD;
}
table, div {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	empty-cells: show;
}
input, textarea {
	padding: 1px;
	font-size: 11px;
}
input[type="text"], input[type="password"], select, textarea {
	border: thin solid #cbcbcb;
	font-size: 20px;
	height: 24px;
}
input[type="submit"], input[type="button"] {
	border: thin #000000 solid;
	color: #000000;
	padding: 3px;
	background-color: #CBCBCB;
	font-size: 17px;
	cursor: pointer;
	height: 27px;
}
textarea {
	font-size: 17px;
	font-family: Arial;
	width: 900px;
	height: 100px;
}
select {
	height: 20px;
	font-size: 12px;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	clear: both;
	overflow: hidden;
}
img {
	border: 0;
}
label {
    display: block;
}
input.extralarge {
	width: 700px;
}
input.large {
	width: 200px;
}
input.mediumlarge {
	width: 150px;
}
input.medium {
	width: 100px;
}
input.small {
	width: 50px;
}
input.extrasmall {
	width: 20px;
}

#main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-bottom: 20px;
	border-width: 0;
	border-spacing: 0;
	background-color: #FFFFFF;
}
#logo {
	top: 50px;
	position: relative;
	z-index: 9999;
}
#header {
	margin-bottom: 20px;
	width: 100%;
	background-color: #333333;
}
#footer {
	text-align: center;
	font-size: 13px;
}
.padding {
	padding-left: 20px;
	padding-right: 20px;
}
.grouping
{
	margin-bottom: 50px;
}
.title {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.output {
	border: thin #CBCBCB dashed;
	font-size: 13px;
	font-family: "Courier New", Courier, monospace;
	color: #0000CC;
	padding: 10px;
	margin: 10px;
}
.instructions {
	border: thin #CBCBCB dashed;
	font-size: 11px;
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	margin: 10px;
}
.error {
	font-size: 16px;
	color: red;
	padding: 5px;
	clear: both;
}
